<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
  </head>
  <body>
    <form action="/feedbackSubmit" method="post">
      <div>
        <label>Name</label>
        <input type="text" name="name" id="" required>
      </div>
      <div>
        <label for="">Phone</label>
        <input type="tel" name="phone" id="">
      </div>
      <div>
        <label for="">Age</label>
        <input type="number" name="age" id="">
      </div>
      <div>
        <label for="">Comment</label>
        <textarea name="comment" id="" cols="30" rows="10"></textarea>
      </div>
      <div>
        <button type="submit">Submit</button>
        <button type="reset">Reset</button>
      </div>
    </form>
  </body>
</html>