<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Document</title>
  </head>
  <body>
    <h1>Hello World</h1>
    <div class="something" id="a c">asdfasdf</div>
    <div class="something else" id="b">asdfasdf</div>
    <div id="a"></div>
    <input type="text" required="true" />
    <table border=1>
      <thead></thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>1</td>
          <td>1</td>
        </tr>
        <tr>
          <td>1</td>
          <td>1</td>
          <td>1</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>